@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --cream: #f6f4ea;
  --dark-gray: #626159;
  --light-gray: #9e9e9e;
  --accent-color: #ff6f61;
}

@theme inline {
  --background: var(--cream);
  --foreground: var(--dark-gray);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-fraktion-mono);
  --font-sans: var(--font-fraktion-sans);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-cream: var(--cream);
  --color-accent: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-gray);
    --foreground: var(--cream);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
