@import "tailwindcss";

:root {
  --cream: #fbfaf3;
  --dark-gray: #0d0c0b;
  --light-gray: #7a7676;
  --accent-color: #ff6f61;
}

@theme inline {
  --background: var(--cream);
  --foreground: var(--dark-gray);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-serif: var(--font-serif);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-cream: var(--cream);
  --color-accent: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-gray);
    --foreground: var(--cream);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.ligatures-discretionary {
  font-variant-ligatures: discretionary-ligatures;
}
.ligatures-normal {
  font-variant-ligatures: no-discretionary-ligatures;
}
